.header {
  position: fixed;
  background-color: #021026;
  color: white;
  top: 0;
  width: 100%;
  padding-top: 40px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  z-index: 9999999999999;
}

.leftItens {
  display: flex;
  margin-left: 200px;
}

@keyframes section-animation {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.up {
  animation: section-animation 0.5s;
}

.pageSections {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showMenu {
  height: 185px;
  transition: 0.5s;
}

.hideMenu {
  height: 105px;
  transition: 0.5s;
}

.pageSections span {
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

.leftItens i {
  margin-top: 4px;
  cursor: pointer;
  max-height: 26px;
} 

.line {
  border: 1px solid #fffdfd8d;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 5px white;
  max-height: 35px;
}

.rightItens {
  display: flex;
  margin-right: 200px;
  gap: 30px;
  transition: 0.5s;
  max-height: 26px;
}

.rightItens a {
  color: #3866ca;
}

@media (width <= 850px) {
  .leftItens {
    margin-left: 50px;
  }

  .rightItens {
    margin-right: 50px;
  }
}

@media (width <= 500px) {
  .up {
    animation: none;
  }
}

@media (width <= 445px) {
  .pageSections span{
    font-size: 23px;
    margin-top: 5px;
  }
}

@media (width <= 400px) {
  .leftItens {
    margin-left: 30px;
  }

  .rightItens {
    margin-right: 30px;
  }
}